.flex-container {
  border : 2px solid #000; 
  overflow:hidden;
  display: flex;
  min-height: 200px;
   padding: 20px;
   margin: 20px;
}

.flex-child {
  flex: 1;
  border: 2px dashed #ccc;
  margin:10px;
  min-height:170px;
  text-align: center;
}  

.flex-child:first-child {
  margin-right: 10px;
} 